<li>
  <span class="content"><%= micropost.content %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(micropost.created_at) %> ago.
    <%= link_to "view",  micropost %>
  </span>
<<<<<<< HEAD
  <% if current_user?(micropost.user) %>
    <%= link_to "delete", micropost, method: :delete,
                                     data: { confirm: "You sure?" },
                                     title: micropost.content %>
  <% end %>
=======
  <%= render 'shared/delete_micropost', micropost: micropost %>
>>>>>>> 5f197a9652eb58b8dce3b0670f809b27bd0a85ba
</li>
